# Configuración de puerto para mi servidor Express
PORT=5000

# Cadena de conexión a mi base de datos MongoDB Atlas en la nube
MONGO_URI=mongodb+srv://tu_usuario:tu_password@cluster0.mongodb.net/empaticos_db?retryWrites=true&w=majority

# Credenciales de Administrador para el panel de control (/admin)
ADMIN_EMAIL=admin@empaticos.com
ADMIN_PASSWORD=EMpaticos2025arg
JWT_SECRET=super_secreto_empaticos_jwt_2026
